@import url('https://fonts.googleapis.com/css?family=Freckle+Face&display=swap');
*{
    color: white;
    font-family: 'Freckle Face', cursive;
    letter-spacing: .2rem;
}
#titleImgContainer{
    height:100%;
}
#title{

}
#titleimg{
    /* width:75%; */
    padding:0;
    margin: 0;

}
#surveyContainer{
    border-top: white solid 2px;
}
#header{
    margin:0;
    padding-bottom:0;
    height:100%;
}
#formSubmit{
    font-family: 'Freckle Face', cursive;
    font-size: 3rem;
}
.dropdown-content,.dropdown-trigger{
    font-family: 'Freckle Face', cursive;
    font-size: 1.4rem !important;
    color:white;
}
.dropdown-content{
    background-color: black;
    color: white;
}
span{
    color: white;
}
#modalContent{
    background: black;
}
.modalImages{
    width: 250px;
}